<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div
    class="
      text-center
      navbar-brand-wrapper
      d-flex
      align-items-center
      justify-content-center
    "
  >
    <a class="navbar-brand brand-logo mr-5" href="/"
      ><img src="../images/logo2.png" class="mr-2" alt="logo"
    /></a>
    <a class="navbar-brand brand-logo-mini" href="/"
      ><img src="../images/mini_logo_5star.png" alt="logo"
    /></a>
    <!-- <a class="navbar-brand brand-logo-mini" href="/"
        ><img src="images/logo-mini.svg" alt="logo"
      /></a> -->
  </div>
  <div
    class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
  >
    <button
      class="navbar-toggler navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
    >
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>
