<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="/salespage">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">매출관리</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/menupage">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">메뉴관리</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/stockpage">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">재고관리</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/employeepage">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">직원관리</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/logout">
        <i class="icon-ban menu-icon"></i>
        <span class="menu-title">세션종료</span>
      </a>
    </li>

  </ul>
</nav>